<header class="fixed top-0 left-0 z-30 w-screen h-20 bg-[#011D33] shadow-md px-12 flex justify-between items-center">
    <div class="flex items-center gap-4">
        <img src="LOGO.svg" alt="Logo" class="w-10 h-10">
    </div>
    <nav class="flex items-center gap-6">
        <div class="flex gap-4">
            <button type="button" mat-ripple class="w-10 h-10 flex items-center justify-center rounded-full bg-[#012744] text-white text-lg transition duration-300 hover:bg-[#01365E]">
                <i class="fa-solid fa-comment"></i>
            </button>
            <button type="button" mat-ripple class="w-10 h-10 flex items-center justify-center rounded-full bg-[#012744] text-white text-lg transition duration-300 hover:bg-[#01365E]">
                <i class="fa-solid fa-bell"></i>
            </button>
        </div>
        <div class="relative w-10 h-10">
            <img src="img.jpeg" alt="Profile Picture" class="w-full h-full rounded-full border border-gray-300 object-cover">
        </div>
    </nav>
</header>