<section class="w-full h-3/4 flex flex-col box-border px-12 py-4 bg-[#011222]">
    <div class="flex items-center justify-between mb-6 px-4 py-2 bg-gray-800 rounded-lg shadow-md">
        <span class="text-2xl font-bold text-gray-100">Rooms</span>
        <div class="flex items-center gap-x-6">
            <div class="relative">
                <button mat-button [matMenuTriggerFor]="menu"
                    class="!bg-blue-600 !text-white !rounded-lg hover:!bg-blue-700 !transition !duration-200 focus:outline-none">
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-caret-down ml-2 text-xs"></i>
                </button>
                <mat-menu #menu="matMenu" class="!bg-gray-700 shadow-lg">
                    <button (click)="openCreateRoomDialog()" mat-menu-item class="hover:!bg-gray-600 !text-gray-100">Create</button>
                    <button (click)="openJoinRoomDialog()" mat-menu-item class="hover:!bg-gray-600 !text-gray-100">Join</button>
                    <button mat-menu-item class="hover:!bg-gray-600 !text-gray-100">Player with AI</button>
                </mat-menu>
            </div>
    
            <div class="flex items-center gap-3 bg-gray-700 px-2 py-1 rounded-lg shadow-inner">
                <input type="text" name="search" placeholder="Search"
                    class="w-60 h-10 px-3 py-1 rounded-md bg-gray-600 text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" />
                <button mat-ripple type="button"
                    class="w-10 h-10 flex items-center justify-center bg-blue-600 text-white rounded-md transition duration-300 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400">
                    <i class="fa-solid fa-search"></i>
                </button>
            </div>
        </div>
    </div>
      
    <div class="w-full flex flex-wrap gap-6 items-start justify-start">
        <div *ngFor="let room of roomData" class="h-96 w-64 flex flex-col bg-[#012744] rounded-lg shadow-lg p-4">
            <img src="img.jpeg" alt="Game background" class="w-full h-3/4 object-cover rounded-md mb-4">
            <div class="text-left">
                <span class="text-lg font-medium text-gray-200 mb-1 block">{{ room.roomName }}</span>
                <div class="w-full flex justify-between">
                    <span class="text-sm text-gray-400 mb-3 block">Created by {{ room.creator.name }}</span>
                    <span class="text-sm text-gray-400 mb-3 block">{{ room.players }}/2</span>
                </div>
            </div>
            <button mat-ripple type="button" (click)="joinRoomFromHome(room.creator.uid)" class="w-full h-10 bg-blue-600 text-white font-semibold rounded-md transition duration-300 hover:bg-blue-700">
                Join
            </button>
        </div>
    </div>
</section>